<!DOCTYPE html>
<html>

<head>
  <title>Front page</title>
</head>

<body>
  <h1>Cork Sniffer</h1>
  <h3>Choose wine type</h3>
  <div>
    Country <br>
    <input type="checkbox" id="France" name="France" />
    <label for="France">France</label> <br>
    <input type="checkbox" id="Italy" name="Italy" />
    <label for="Italy">Italy</label> <br>
    <input type="checkbox" id="Spain" name="Spain" />
    <label for="Spain">Spain</label> <br>
  </div>
  <div>
    Variety <br>
    <input type="checkbox" id="PinotNoir" name="PinotNoir" />
    <label for="PinotNoir">Pinot Noir</label> <br>
    <input type="checkbox" id="Riesling" name="Riesling" />
    <label for="Riesling">Riesling</label> <br>
    <input type="checkbox" id="PortugueseRed" name="PortugueseRed" />
    <label for="PortugueseRed">Portuguese Red</label> <br>
    <input type="checkbox" id="WhiteBlend" name="WhiteBlend" />
    <label for="WhiteBlend">White Blend</label> <br>
  </div>
  <div>
    <button>Show chosen wines</button> <br>
    <button>Show all wines</button>
  </div>
</body>

</html>
